@font-face {
  font-family: "font-name";
  src: url("/calibri/calibri-regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "font-name";
  src: url("/calibri/calibri-bold.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.checkbox input:checked ~ div > svg > path:nth-of-type(1) {
  fill: #2990ff;
}
.checkbox svg {
  fill: rgb(53, 53, 53);
}

* {
  font-family: "font-name" !important;
}

#player::-webkit-media-controls-start-playback-button {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-appearance: none !important;
}

:host::shadow::-webkit-media-controls-container {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-appearance: none !important;
}

*::-webkit-media-controls-panel {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-appearance: none !important;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-appearance: none !important;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-appearance: none !important;
}

#video::-webkit-media-controls {
  player: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-appearance: none !important;
}

*::-webkit-media-controls-panel {
  display: none !important;

  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none !important;

  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;

  -webkit-appearance: none;
}

#player::-webkit-media-controls {
  display: none !important;
  opacity: 0;
}
#player::-webkit-media-controls-start-playback-button {
  display: none !important;
}

::-webkit-media-controls {
  display: none !important;
}

.splash {
  height: 100vh;
  overflow-y: hidden;
  filter: blur(npx);
}
